[submodule "packages/depository/packages/ethereum-vm/lib/forge-std"]
	path = packages/depository/packages/ethereum-vm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smart-contracts/lib/forge-std"]
	path = smart-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
