STORK_API_KEY=
STORK_WS_ENDPOINT=wss://fast.jp.stork-oracle.network
STORK_TAXONOMY=1
STORK_FEED_IDS=BTCUSD=3,ETHUSD=4,SOLUSD=40,USDCUSD=2,USDTUSD=1
STORK_CHANNEL_TYPE=500ms
STORK_COMPRESSION=true
STORK_MAX_AGE_SEC=10

INGESTER_ADDRESS=127.0.0.1:9804

OTEL_EXPORTER_ENABLE=false
OTEL_EXPORTER_ENDPOINT=http://localhost:4318/v1/traces
OTEL_TRACES_SAMPLE_RATIO=1.0
OTEL_SERVICE_NAME=stork-ingester
