# Dependencies
node_modules

# Secrets
.env

# Hardhat files
/cache
/cache_hardhat
/artifacts

# TypeChain files
/typechain
/typechain-types

# Scripts
/scripts

# solidity-coverage files
/coverage
/coverage.json

# Foundry deployments
/broadcast

# Foundry build output
/broadcast
/out
/forge-out
foundry.lock

# AI agents
.claude