node_modules
.env

# Hardhat files
/cache
/cache_hardhat
/artifacts

# TypeChain files
/typechain
/typechain-types

/scripts

# solidity-coverage files
/coverage
/coverage.json

# Foundry build output
/out
foundry.lock

withdrawal-test-data.json
