REDSTONE_GATEWAY_URL=https://oracle-gateway-1.a.redstone.finance
REDSTONE_DATA_SERVICE_ID=redstone-primary-prod
REDSTONE_FEED_IDS=ETH,BTC
REDSTONE_MIN_SIGNERS=3
REDSTONE_POLL_INTERVAL_MS=1000

INGESTER_ADDRESS=127.0.0.1:9803

OTEL_EXPORTER_ENABLE=false
OTEL_EXPORTER_ENDPOINT=http://localhost:4318/v1/traces
OTEL_TRACES_SAMPLE_RATIO=1.0
OTEL_SERVICE_NAME=redstone-ingester
